@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';


.chatPanel {
  background: #FFF;
  border: .1px solid #000;
  width: 272px;
  height: 377px;

}
.chatOutput {
  flex: 1;
  padding: 7px;
  display: flex;
  //background: white;
  flex-direction: column;
  overflow-wrap: break-word;
  //min-width: 200px;
 // min-height: 360px;

  > div {
    margin: 0 0 20px 0;
  }
  .userMessage {
    .message {
      background: #ad0303;
      color: white;
      //max-width: 400px;
      //min-width: 350px;
      overflow-wrap: break-word;
      white-space: unset;
      float:right;
      font-family: 'segoe UI', sans-serif;
      font-size: 15px;
    }
  }
  .botMessage {
    text-align: right; 
    overflow-wrap: break-word;
    padding: 10px;
    //background: rgb(143, 139, 139);
    white-space: unset;
   

    .message {
      background: rgb(201, 198, 198);
     // display: inline-block;
      padding: 12px 20px;
      border-radius: 10px;
      //max-width: 400px;
      //min-width: 350px;
      float:left;
      //width: -moz-available; 
      width: fill;
      white-space: normal;
      overflow: unset;
      overflow-wrap: break-word;
      word-break: break-all;
      font-family: 'segoe UI', sans-serif;
      font-size: 15px;
    }
  }
  .message {
    display: inline-block;
    padding: 12px 20px;
    border-radius: 10px;
  }
}
.chatInput {
  padding: 20px;
  background: #eee;
  border: 1px solid #ccc;
  border-bottom: 0;
  .userInput {
    width: 100%;
    font-size: 2rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
  }
}
