@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
//   @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
//     /* IE10+ CSS styles go here */
//     position: absolute;
//   }
 }


  // .inputContainer{
  //   display: inline-flex;
  // }


  body {
    overflow: hidden
  }
  
  .searchBtn {  
    height: 24px;
    padding: 1px;
  }
  // .newQuestButtons{
  //   display: grid; 
  // }
  .rating{
    justify-content: center !important;
    display: flex;
  }
  .newQuestBtn{
    padding: 4px;
  }

  .newQuestBtn > button{
    width: 100%;
  }

  .modalWindow {
    width: 50%;
  }

  .reassignModalContent{
    width: 300px;
    height: 130px;
    font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  }
  .reassignModalContent > span{
    font-style: normal;
    padding: 1px;
    font-size: 14px;
  }

  .remarksModalContent {
    width: 400px;
    height: 145px;
    font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  }

  
  .dialogContent{
    width:100%;  
  }

  .answerDisplay ul, p, ol {
    margin: 0!important;
  }

  .searchtxtBox::-ms-clear {
    display:none;
  }

  .notificationText{
    font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    font-size: 14;
    font-style: normal;
    font-weight: bold;
    
  }
 .customTooltip {
   position: fixed;
   background-color: #fff;
 }
  .toolTipContent {
    position: fixed;
  }
  .questionInput{
    word-wrap: break-word;
    overflow-wrap: break-word;
    display: inline-block;
    width: 97%;
    white-space: normal !important;
  }
 .textLabel {
  font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: $ms-font-size-m;
  font-weight: bold;
  border-width: 0;
 }

 .requiredLabel{
  font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 10;
  font-style: italic;
  font-weight: normal;
  border-width: 0;
  color: #B12406;
 }

 .dropdownCont {
   flex: 1;
 }
 
 .actionButtons {
  display: flex;
  justify-content: flex-end;
  flex: 1;
 }

 .addbtnCont{
    display: flex;
    flex:1;
  }

 .addQnABtn{
  display: flex;
  flex-direction: row-reverse;
  //flex: 1;
 }
 
 .tableCont {
   padding: 10px;
 }

 .searchCont{
   padding:5px;
 }

 .tableLabels{
  margin-right: 5px;
  font-size:20px;
  font-weight: bold;
  
 }
 .divisionLabel {
    margin-right: 5px;
    font-size:20px
 }
  .container {
    max-width: 700px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }
  .controlMenu {
    display: flex;
  }

  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    background-color: $ms-color-themeDark;
    padding: 20px;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .button {
    // Our button
    text-decoration: none;
    height: 32px;

    // Primary Button
    min-width: 80px;
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;

    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;

    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
  }

  // .Table__itemCount {
  //   /* margin-top: 10px; */
  //   font-size: 14px;
  // }
  
  // .Table__pagination {
  //   display: flex;
  //   justify-content: flex-end;
  //   padding: 20px 10px;
  // }
  
  // .Table__pageButton {
  //   font-size: 15px;
  //   outline: none;
  //   border: none;
  //   background-color: transparent;
  //   cursor: pointer;
  // }
  
  // .Table__pageButton:disabled {
  //   cursor: not-allowed;
  //   color: gray;
  // }
  
  // .TablTable__pageButtonActive {
  //   color: #45b3e3;
  //   font-weight: bold;
  // }