.DialogHeaderRoot {
  .Separator {
    border-top: 1px solid;
    margin-top: 5px;
    width: 100%;
  }
  .Toolbar {
    display: flex;
    margin-top: 5px;
    width: 100%;
    .Title {
        font-weight: 700;
    }
    a {
      display: inline-flex;
      align-items: center;
    }
  }
}
