.Table__itemCount {
    /* margin-top: 10px; */
    font-size: 14px;
  }
  
  .TablePagination {
    display: flex;
    justify-content: center;
    padding: 20px 10px
  }
  
  .TablepageButton {
    font-size: 15px;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .TablepageButton:disabled {
    cursor: not-allowed;
    color: gray;
  }
  
  .TablepageButtonActive {
    color: #45b3e3;
    font-weight: bold;
    font-size: 15px;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  